<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fast_quote.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>126</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
				<key>dateExpires</key>
				<string>17/01/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfigInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RazorpayCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RazorpayStandard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_pdfview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>in_app_purchase_storekit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nb_utils.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>printing.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>razorpay_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>017C1728F4051A8CFCB620CABE43694196D9EB5B</string>
						<key>dateExpires</key>
						<string>17/01/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R9KV9N59T5.com.example.fastQuote</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>R9KV9N59T5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4a0443b2-f069-4fdb-9cb0-c203aefe8dde</string>
				<key>dateExpires</key>
				<string>17/01/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.fastQuote</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R9KV9N59T5</string>
				<key>name</key>
				<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2.6</string>
		</dict>
	</array>
</dict>
</plist>
